<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ContentMapper">
	<!-- 컨텐츠 목록 -->
	<select id="ContentList" resultType="ContentDto">
		select content_num,content_name,content_date,content_count,file_name,content_writer
		from content
		order by content_num desc
	</select>
	
	<!-- 검색 기능 -->
	<select id="SearchContent" resultType="ContentDto">
		<![CDATA[
		select content_num,content_name,content_date,content_count,file_name,content_writer
		from content
		where content_name like concat('%',#{keyword},'%')
		]]>
	</select>
</mapper>