<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PlaylistMapper">
	<insert id="PlaylistCreate">
		insert into playlist(email,playlist_name)
		values(#{email},#{playlist_name})
	</insert>
	
	<insert id="playlistAdd">
		insert into playlistdata(playlist_name,email,content_num)
		values(#{playlist_name},#{email},#{content_num})
	</insert>
	
	<select id="MyPlaylistName" resultType="PlaylistDto">
		select playlist_name,playlist_num
		from playlist
		where email=#{email}
	</select>
</mapper>