<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PlaylistMapper">
	<insert id="PlaylistCreate">
		insert into playlist(email,playlist_name)
		values(#{email},#{playlist_name})
	</insert>
	
	<insert id="PlaylistAdd">
		insert into playlistdata(playlist_name,email,content_num)
		values(#{playlist_name},#{email},#{content_num})
	</insert>
	
	<select id="MyPlaylistName" resultType="PlaylistDto">
		select playlist_name,playlist_num
		from playlist
		where email=#{email}
	</select>
	
	<delete id="PlaylistDelete">
		delete from playlist
		where playlist_num = #{playlist_num}
	</delete>
	
	<update id="PlaylistUpdate">
		update playlist
		set playlist_name = #{playlist_name}
		where playlist_num = #{playlist_num}
	</update>
	
	<select id="Myplaylist" resultType="ContentDto">
		select content_name,content_writer,content_count,content_num
		from content
		where content_num in (select content_num from playlistdata where playlist_name = #{playlist_name} and email = #{email})
	</select>
	
	<delete id="MyplaylistDelete">
		delete from playlistdata
		where content_num = #{content_num}
	</delete>
	
</mapper>