@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	
}

.section{
    padding-top: 128px;
}

.wrapper{
    /* height: calc(100vh - 128px); */
    height: 100%;
    width: 100%;
    padding-left: 72px;
    background-color: #f3f3f3;
    
}

.inner-top{
    width: 100%;
    height: 256px;
    padding: 30px 90px;
    background-color: white;
}

.inner-left{
    height: 100%;
    background-color: white;
    
}

.inner-left img{
    width: 60%;
}

.inner-left button.join-btn{
    width: 150px;
    background: none;
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
}

.inner-right{
    height: 100%;
}

.inner-right img{
    width: 20%;
    height: 200px;
}

.player{
    height: 400px;
    margin-top: 15px;
}

.play-content{
    height: 300px;
    width: 100%;
    background-color: white;
}

.play-mark{
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-info{
	display: flex;
	flex-direction: column;
    justify-content: center;
}

#content_height{
	height: 100px;
}

.play-mark img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
}

.play-info-writer{
    font-size: 14px;
}

.play-info-count{
    font-size: 14px;
}

.play-info-title{
    font-size: 20px;
}

.play-btn{
    border: none;
}

.content-info{
	margin-bottom: 0px;
}