@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.wrapper{
    /* height: calc(100vh - 128px); */
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 72px;
}

.play-box{
    width: 1750px;
    height: 100%;
    background-color: #f3f3f3; 
}

.play-wrapper{
    background-color: #f3f3f3;
}

.play-detail{
    height: 100%
}

.play-list{
    height: 100%;
    background-color: #f3f3f3;
}

.detail-content{
    height: 720px;
    width: 100%;
    background-color: #f3f3f3;
    display: block;
    padding: 24px 24px 0px 0px;
    
}

.content-info{
    font-size: 14px;
    font-weight: 400px;
    padding: 20px 0px 10px;
    background-color: #f3f3f3;
    margin-right: 24px;
    border-bottom: 1px solid #cccc;
    
}

.img-list{
    padding: 50px 24px 0px 0px;
}

.thum-list img{
    width: 260px;
    height: 130px;
}

.thum-title{
    font-size: 18px;
    margin-bottom: 4px;
}

.thum-writer{
    margin-top: 60px;
    font-size: 12px;
}

.thum-count{
    font-size: 12px;
    margin-top: 5px;
}

.writer-name{
    font-size: 24px;
    background-color: #f3f3f3;
    padding-top: 40px;
    
}

.writer-info{
    font-size: 14px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #cccc;
    padding: 20px 0px 20px 0px;
    margin-right: 10px;
}

.reply{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.reply-list{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 12px;
    border-bottom: 1px solid #cccc;
    border-top: 1px solid #cccc;
}

.reply-input{
	width: 30%;
}

.reply-write{
	background: white;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    
}

.reply-info{
	padding: 10px 10px 10px 0px;
	
}

.reply-btn:hover{
	text-decoration: none
}






