@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper-box{
    border: 1px solid #cccc;
    border-radius: 10px;
    width: 748px;
    height: 702px;
    padding: 40px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.join-box{
    height: 100%;
}

.join-box .google-logo{
    width: 100px;
}

.input-box h3{
    padding: 16px 0;
}

.name{
    width: 285px;
    height: 35px;
    margin-bottom: 24px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.birth{
    width: 285px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.email{
    width: 285px;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
}

.password{
    width: 285px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 30px;
}

.login-btn{
    width: 206px;
    font-size: 18px;
    margin-top: 20px;
}

.img-box{
    text-align: center;
    margin-top: 20%;
    
}
