@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	word-break: keep-all;
	word-wrap: break-word;
	
}

a, a:hover, a:focus{
	color: inherit;
	text-decoration: none;
}

.wrapper-box{
    border: 1px solid #cccc;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 4rem;
}

textarea{
	resize: none;
}


/* content.css(index.html) */
.wrapper#index{
    padding-left: 72px;
    padding-top: 112px!important;
}

.wrapper{
	height: 100%;
    width: 100%;
    background-color: #f3f3f3;
}

.inner-top{
    width: 100%;
    height: 256px;
    padding: 30px 90px;
    background-color: white;
}

.inner-left{
    height: 100%;
    background-color: white;
    
}

.inner-left img{
    width: 60%;
}

.inner-right{
    height: 100%;
}

.inner-right img{
    width: 20%;
    height: 200px;
}

.player{
    margin-top: 15px;
}

.play-content{
    height: 300px;
    width: 100%;
    background-color: white;
}

.play-mark{
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-info{
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.play-mark img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
}

/* Header */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 998;
}

.navbar{
    border-bottom: 1px solid;
    border-color: #cccc;
    background-color: white;
}

.navbar #header-list{
	font-size: 2rem;
}

.navbar-brand img{
	height: 2rem;
}

.top-btn{
    height: 56px;
    border-bottom: 1px solid;
    border-color: #cccc;
    background-color: white;
}

.dropdown-toggle::before,
.dropdown-toggle::after{
    display: none !important;
}

.dropdown-menu{
	overflow: hidden;
}

/* Sidebar */
.sidebar{
    width: 74px;
    height: calc(100vh - 56px);
    background-color: white;
    position: fixed;
    left: 0;
    top: 56px;
    z-index: 999;
}

.sidebar button{
    width: 74px;
    padding: 16px 0.75rem 14px 0.75rem;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.sidebar button:hover{
    width: 74px;
    padding: 16px 0 14px;
    background-color: #cccc;
    border: none;
}
.sidebar i{
    font-size: 26px;
}

/* login */

.Google-logo{
	width: 120px;
}

.file_img{
	max-width: 200px;
}

.upload-file{
	height: 300px;
}

/* content-detail*/
.container-xxl {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1800px;
}

.text-truncate-2{
    line-height: 1.5rem;
    max-height: 4rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Slick Custom */
.slick-prev:before, .slick-next:before{
	color: rgba(0,0,0,0.75);
}

/* img 16:9 */
.thumb-wrap{
	position: relative;
	padding-bottom: 56.25%;
}

.thumb-wrap img {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.mypage-img{
	padding-top: 65px;
}

.mypage-info{
	background-color: #f3f3f3;
	border-bottom: solid 1px;
	border-top: solid 1px;
}

.body-color{
	background-color: #f3f3f3;	
}
