@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

i[class *="bi-"]{
    cursor: pointer;
    
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 998;
}

div[class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    height: 100px;
    border-bottom: 1px solid;
    border-color: #cccc;
    background-color: white;
}

.top-btn{
    height: 56px;
    border-bottom: 1px solid;
    border-color: #cccc;
    padding-top: 12px;
    background-color: white;
}

.bi-list{
    font-size: 30px;
}

div button.navbar-brand{
    
    border: none;
    outline: none;
    /* background-color: transparent; */
    background: none;
}

div button.setting{
    border: none;
    outline: none;
    /* background-color: transparent; */
    background: none;
}

.form-control-border{
    width: 572px;
    border: 1px solid #ced4da;
    
}


.form-control{
    border: none;
    width: 572px;
    height: 42px;
}

.nav-link-img img{
    width: 100px;
    margin-bottom: 13px;
    height: 100px;
}


.search-btn{
    width: 70px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #ced4da;
    background-color: #f3f3f3;
}

.speak-btn{
    border: none;
    width: 40px;
    background-color: #f3f3f3;
    border-radius: 50%;
}

.bi-search{
    color: #212549;
}

.loginbtn{
    background: none;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.bi-keyboard{
    align-self: center;
    padding: 0 0.75rem;
}

input#search-input:focus{
    box-shadow: none;
}

.contentbtn{
    border: 1px solid #ced4da;
    border-radius: 20px;
    height: 30px;
    width: 70px;
}

.contentbtn:hover{
    border: 1px solid #ced4da;
    border-radius: 20px;
    height: 30px;
    width: 70px;
    background-color: black;
    color: white;
}

.create-btn{
    border:  1px solid #ced4da;
    background-color: white;
}

.home-btn{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.dropdown-menu{
    width: 10px;
    text-align: center;
}
