@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.sidebar{
    width: 74px;
    height: calc(100vh - 56px);
    background-color: white;
    position: fixed;
    left: 0;
    top: 56px;
    z-index: 999;
}

.sidebar button{
    width: 74px;
    padding: 16px 0.75rem 14px 0.75rem;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.sidebar button:hover{
    width: 74px;
    padding: 16px 0 14px;
    background-color: #cccc;
    border: none;
}
.sidebar i{
    font-size: 26px;
}