.vjs-theme-fantasy {
  font-family: inherit;
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus {
  text-shadow: none;
}

.video-js .vjs-slider:focus {
  text-shadow: none;
  box-shadow: none;
}

.vjs-theme-fantasy .vjs-big-play-button {
  width: 70px;
  height: 70px;
  background: none;
  line-height: 70px;
  font-size: 80px;
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  color: rgba(0,0,0,.13);
}

.video-js .vjs-control-bar {
  background-color: none;
  background: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,0));
}

.vjs-theme-fantasy * [class^="vjs-ico"] {
  font-family: bootstrap-icons !important;
}

.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before {
  content: "\f4f4" !important;
}

.vjs-icon-pause::before,
.vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
  content: "\f4c3" !important;
}

.vjs-icon-picture-in-picture-enter:before,
.vjs-picture-in-picture-control .vjs-icon-placeholder:before {
  content: "\f4ef";
}

.vjs-icon-picture-in-picture-enter:before,
.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
  content: "\f4ef";
}

.vjs-icon-picture-in-picture-exit:before,
.video-js.vjs-picture-in-picture .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
  content: "\f4ee";
}

.vjs-icon-volume-mute:before,
.video-js.vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
  content: "\f60d";
}

.vjs-icon-volume-low:before,
.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
  content: "\f60a";
}

.vjs-icon-volume-mid:before,
.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
  content: "\f60a";
}

.vjs-icon-volume-mute:before,
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
  content: "\f60d";
}

.vjs-icon-volume-high:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
  content: "\f610";
}

.vjs-icon-fullscreen-exit:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
  content: "\f109";
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
  content: "\f3df";
  font-size: 14px;
  margin-left: -5px;
  margin-right: 5px;
}

.vjs-icon-fullscreen-exit:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
  content: "\f3de";
}

.vjs-theme-fantasy:hover .vjs-big-play-button,
.vjs-theme-fantasy.vjs-big-play-button:focus {
  background-color: transparent;
  color: rgba(0,0,0,1);
}


.vjs-theme-fantasy .vjs-control-bar {
  height: 42px;
}

.vjs-theme-fantasy .vjs-button>.vjs-icon-placeholder::before {
  line-height: 42px;
}

.vjs-theme-fantasy .vjs-time-control {
  line-height: 42px;
}

/* Play Button */
.vjs-theme-fantasy .vjs-play-control {
  font-size: 1.5em;
  position: relative;
}

.vjs-theme-fantasy .vjs-volume-panel {
  order: 4;
}

.vjs-theme-fantasy .vjs-volume-bar {
  top: 6px;
}

.vjs-theme-city .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}

.vjs-theme-fantasy .vjs-progress-control .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-play-progress {
  background: linear-gradient(to right, #23b8bc, #0066b3);
}

.vjs-theme-fantasy .vjs-play-progress::before {
  height: 0.8em;
  width: 0.8em;
  content: '';
  background-color: #fff;
  border-radius: 0.8em;
  top: -0.25em;
}

.video-js .vjs-load-progress {
  background: rgba(255,255,255,.13);
}

.vjs-theme-fantasy .vjs-progress-control {
  font-size: 8px;
}

.vjs-theme-fantasy .vjs-progress-control:hover {
  font-size: 12px;
}

.vjs-theme-fantasy .vjs-fullscreen-control {
  order: 6;
}

.vjs-theme-fantasy .vjs-remaining-time {
  font-size: 12px;
}