<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>마이페이지</title>
<script type="text/javascript" src="../static/js/Youtube.js"></script>
<!-- bootstrap start -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/bootstrap-icons.css">
<link rel="stylesheet" href="../static/css/master.css">
<!-- bootstrap end -->
</head>
<body>
	<!-- Header -->
	    <header class="header">
        <nav class="navbar navbar-expand-lg px-0">
          <div class="col-2 d-flex align-items-center">
            <span id="header-list" class="ml-2 mr-3">
            	<i class="bi bi-list"></i>
            </span>
            <a class="navbar-brand" href="index">
            	<img src="../static/images/youtube-logo.png">
            </a>
          </div>
          
            <div class="col-8 d-flex justify-content-center align-content-center">
              <form>
                <div class="input-group">
                  <input id="search-input" class="form-control" type="search" placeholder="검색">
                  <div class="input-group-append">                  
	                  <button class="btn btn-secondary" type="submit">
	                  	<i class="bi bi-search"></i>
	                  </button>
                  </div>
                </div>
              </form>
            </div>
          
          <div class="col-2 d-flex justify-content-end">
            <button class="btn btn-lg btn-secondary text-nowrap" data-toggle="modal" data-target="#myModal">
				<i class="bi bi-plus-square mr-2"></i>만들기
			</button>
            <div class="dropdown">
              <button class="btn btn-lg btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              		<i class="bi bi-three-dots-vertical text-secondary"></i>
              </button>
              <div th:if="${session.user_email != null}">
              	<div class="dropdown-menu">
                	<a class="dropdown-item" href="mypage">마이페이지</a>
                	<a class="dropdown-item" href="update-user-check">개인정보 변경</a>
              	</div>
              </div>
            </div>
            <div th:if="${session.user_email == null}">
              <a href="login" style="text-decoration: none;">
              	<button class="btn btn-lg btn-secondary text-nowrap"><i class="bi bi-person-circle mr-2"></i>로그인</button>
              </a>
            </div>
            <div th:if="${session.user_email != null}">
              <a href="/login/logout"><button class="btn btn-lg btn-secondary text-nowrap"><i class="bi bi-person-circle mr-2"></i>로그아웃</button></a>
            </div>
          </div>
        </nav>     
    </header>
    <!-- ContentList -->
	<section class="section">
		<div class="container-xl">
			

	<table class="table table-bordered text-center">
		<colgroup>
			<col width="5%">
			<col width="50%">
			<!-- <col width="20%"> -->
			<col width="20%">
			<col width="20%">
			<col width="5%">
		</colgroup>
		<thead class="thead-light">
			<tr>
				<th scope="col">번호</th>
				<th scope="col">컨텐츠 제목</th>
				<!-- <th scope="col">파일이미지</th> -->
				<th scope="col">등록일</th>
				<th scope="col">조회수</th>
				<th scope="col">설정</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="list : ${contentList}">
			<tr>
				<td th:text="${list.rownum}" th:value="${list.rownum}" th:name="rownum">2</td>
				<td>
					<a class="text-primary" th:href="@{/mypage/content-detail(contentNum=${list.content_num})}" th:text="${list.content_name}" th:value="${list.content_name}"></a>
				</td>
				<!-- <td>
					<img th:src="@{../static/upload/}+${list.file_name}" class="file_img" alt="파일사진">
				</td> -->
				<td th:text="${#dates.format(list.content_date,'yyyy-MM-dd')}"></td>
				<td th:text="${list.content_count}"></td>
				<td>
					<div class="btn-group dropright">
						<button class="btn dropdown-toggle p-0" type="button"
							data-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-gear"></i>
						</button>
						<ul class="dropdown-menu">
							<li><a
								th:href="@{/mypage-update(content_num=${list.content_num},content_name=${list.content_name})}"><button
										class="btn dropdown-item">수정</button></a></li>
							<li><a
								th:href="@{/mypage/delete(content_num=${list.content_num})}"><button
										class="btn dropdown-item">삭제</button></a></li>
						</ul>
					</div>
				</td>
			</tr>
			</th:block>
		</tbody>
	</table>
	<!-- pagination -->
	<div class="pagination justify-content-center">
		<nav aria-label="...">
		  <ul class="pagination">
		  	<div th:if="${paging.cri.page == 1}">
			    <li class="page-item disabled">
			      <a class="page-link">Start</a>
			    </li>
		    </div>
		    <div th:if="${paging.cri.page != 1}">
			    <li class="page-item">
			      <a class="page-link" th:href="@{/mypage(page=${paging.startPage})}">Start</a>
			    </li>
		    </div>
		    <th:block th:with="start =${paging.startPage}, end =${paging.endPage}">
		    <li class="page-item" aria-current="page" th:each="paging : ${#numbers.sequence(start,end)}">
		    	<a class="page-link" id="pagingBtn" th:href="@{/mypage(page=${paging})}" th:text=${paging}></a>
		    </li>
		    </th:block>
		    <div th:if="${paging.cri.page == paging.endPage}">
			    <li class="page-item disabled">
			      <a class="page-link">End</a>
			    </li>  
		    </div>
		    <div th:if="${paging.cri.page != paging.endPage}">
		    	<li class="page-item">
			      <a class="page-link" th:href="@{/mypage(page=${paging.endPage})}">End</a>
			    </li>
		    </div>
		  </ul>
		</nav>
	</div>
	</section>
	
	<!-- The Modal -->
	  <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		  <div class="modal-dialog modal-dialog-centered modal-xl">
			<!-- Modal content -->
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title font-weight-bold" id="myModalLabel">동영상 업로드</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
			  </div>
			  <div class="modal-body">
				  <form action="/mypage/upload" method="post" enctype="multipart/form-data">
					  	<input type="file" class="d-none form-control" id="file-select" name="file-name">
				  		<div class="input-group mb-3">
					  		<input class="form-control" id="upload-name" value="첨부파일" placeholder="첨부파일">
					  		<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" id="button-addon">파일 찾기</button>
							</div>
					  	</div>
					  	<div class="row row-cols-2">
				  			<div class="col">
				  				<span class="mr-2">컨텐츠 제목</span>
				  				<input type="text" class="form-control" name="content_name">
				  			</div>
				  			<div class="col">
						  		<span class="mr-2">등록 날짜</span>
						  		<input type="date" class="form-control" id="now_date" name="content_date" min=now_date readonly>					  			
				  			</div>
				  		</div>
				  		<hr class="w-100">
				  		<span class="d-flex justify-content-end w-100 mt-3">
				  			<button type="submit" class="btn btn-primary d-flex align-items-center">컨텐츠 등록</button>
				  		</span>
				  </form>
			  </div>
			</div>
		  </div>
	  </div>
	  <!-- Modal JQuery -->
	  <script>
	  $( document ).ready(function() {
		$("#button-addon").click(function(e){
			  e.preventDefault();
			 $("input#file-select").click(); 
		});
		  
		$("input#file-select").on('change',function(){
			  var fileName = $(this).val().split('/').pop().split('\\').pop();
			  $("#upload-name").val(fileName);
		});
		
	  });
    	//현재시간 불러오기
      document.getElementById('now_date').valueAsDate = new Date();
	</script>
</body>
</html>
