<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>본인 확인 페이지</title>
<script type="text/javascript" src="../static/js/Youtube.js"></script>
<!-- bootstrap start -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- bootstrap end -->
<!-- css -->
<link rel="stylesheet" href="../static/css/bootstrap-icons.css">
<link rel="stylesheet" href="../static/css/master.css">
</head>
<body>
	<div>
		<div class="wrapper-box">
			<div class="d-flex justify-content-center mb-3">
				<a href="/index"><img class="Google-logo" src="../static/images/Google_logo.png"></a>
			</div>
			<h3 class="text-center mb-5">본인 확인 페이지</h3>
			<form action="update-user-check/user-check" method=post>
				<div class="">
					<input type="text" class="form-control mb-4" th:value="${user_email}" placeholder="이메일" name="user_email" readonly /> 
					<input type="password" class="form-control" placeholder="비밀번호" name="user_pw">
					<p class="text-muted" style="font-size: 12px;">현재 비밀번호를 입력해주세요.</p>
					<input type="text" class="form-control mb-5" value="" placeholder="이름" name="user_name">
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-primary">다음</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>